@import 'tailwindcss';

@theme {
  --color-lightPink: #f9f0ff;
  --color-grayishPurple: #8c6991;
  --color-darkPurple: #2f1533;

  --color-grayishPurpleOpacity: rgba(123, 104, 238, 0.5);
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400 600 700;
  font-display: swap;
  src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf');
}

body {
  font-family: 'Work Sans';
}
